<div class="page-box">
  <section id="main">
  <div class="content-404">
    <header class="title">
    <h1>404</h1>
    </header>
    <div class="content">
    <h2>{{ 'The page cannot be found.'|t }}</h2>
    <a href="{{ path('<front>') }}" class="btn btn-lg btn-white back-home"><i class="fa fa-home"></i> {{ 'Back to homepage'|t }}</a>
    </div>
  </div>
  </section>
</div>